<!DOCTYPE html>
<html>
	<head>
		<title>Quebra de Linha</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body>

		<div ng-app="myApp" ng-controller="myCtrl">

			<div style="text-align: center;">
				<b>Qtd de caracteres por linha: </b><input type="text" ng-model="qtdCaracteres" numeric-only>
			</div>

			<br/>
			<hr>
			<br/>

			<div style="float: left;">
				<h1>Texto Original</h1>
				<textarea rows="30" cols="60" ng-model="texto" ng-change="formatarTexto(texto)" style="resize: none;">
				</textarea>
			</div>

			<div style="float: right;">
				<h1>Texto com quebra de Linha</h1>
				<textarea rows="30" cols="60" wrap="off" ng-model="textoModificado" ng-change="formatarTexto(texto)" style="resize: none;" readonly>
				</textarea>
			</div>
			
  		</div>

  		<script>
		var app = angular.module('myApp', []);

		app.directive('numericOnly', function(){
			return {
				require: 'ngModel',
				link: function(scope, element, attrs, modelCtrl) {

					modelCtrl.$parsers.push(function (inputValue) {
						var transformedInput = inputValue ? inputValue.replace(/[^\d.-]/g,'') : null;

						if (transformedInput!=inputValue) {
							modelCtrl.$setViewValue(transformedInput);
							modelCtrl.$render();
						}

						return transformedInput;
					});
				}
			};
		});

		app.controller('myCtrl', function($scope) {

			$scope.texto = '';
			$scope.textoModificado = '';
		    
		    $scope.formatarTexto = function(texto){

		    	var tamanhoDoTextoQueVouQuebrar = texto.length;
		    	var textoNovo = '';
		    	var numeroDeCaracteresPorLinha = $scope.qtdCaracteres;

	    		for (i = 1; i <= tamanhoDoTextoQueVouQuebrar; i++){

		    		textoNovo = textoNovo + texto.charAt(i - 1);

		    		if (i % numeroDeCaracteresPorLinha === 0 && i < tamanhoDoTextoQueVouQuebrar){
                		textoNovo = textoNovo + '\n';

            		}

	    		}

				
	    		$scope.textoModificado = textoNovo;
		    	
		    	var textoOriginal = textoNovo.replace(/\n/g, "");
		    	console.log("***textoOriginal", textoOriginal);
		    	console.log("***textoNovo", textoNovo);
		    	
		    }

		});
		</script>

	</body>
</html>